# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
wheels/

# Virtual environments
env/
venv/
ENV/
.venv/

# Environment variables
.env
.env.*

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
nosetests.xml
coverage.xml
htmlcov/

# Type checkers
.mypy_cache/

# Editors and IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.temp
tmp/

# Build artifacts / binaries
*.exe
*.dll

# Misc
*.log
